@import "colors-and-vars";
@import "rem";
@import "pseudo-font";

// Image Replacement
%ir {
  /* IE 6/7 fallback */
  *text-indent: -9999px;
  background-color: transparent;
  border: 0;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    height: 150%;
    width: 0;
  }
}